<div class="page-header">
  <h1>Loan Requests</h1>
</div>

<div class="container">
  <div class="row">
    <% cache @categories do %>
      <div class="col-md-3 pull-left categories">
          <% @categories.each do |c| %>
            <%= link_to c.title.capitalize, category_path(c) %>
          <% end %>
      </div>
    <% end %>

  <%= render "shared/search" %>

  </div>
</div>

<br>

<%= render "shared/lender_thumbnail" %>

<%= will_paginate @loan_requests, class: "flickr_pagination" %>

<br>
